<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/new" method="get">
      <input type="submit" name="" value="Click Here To List A Puppy">
    </form>

  </body>
</html>
